<div class='wrapper'>
  <section id='left', class='members'>
    <%= form_with url: combinations_path, id: 'form', class: 'members' do |f| %>
      <%= render partial: 'users/user', collection: @users %>
      <%= f.submit 'ペア組み！' %>
    <% end %>
  </section>

  <section id='center' class='members'>
    <%= render partial: 'users/other', collection: @others %>
  </section>

  <section id='result'>
    <textarea rows="20" cols='40' id='textarea'></textarea>
    <div>
      <p>特別ゲスト</p>
      <input type='text'>
      <button class='js-add-guest'>追加</button>
    </div>
  </section>
</div>
