<div class='p-member-name'>
  <p class='c-user' data-id='<%= user.id %>'><%= user.name %></p>
  <%= button_to '欠席', user_path(id: user.id, entry?: 0),class: 'js-remove c-btn c-btn--entry', method: :patch, remote: true %>
</div>
