.c-btn {
  border-radius: 5px;
  font-size: 1rem;
}

.c-btn--dark {
  background-color: $wineRed;
  border: solid 1px $lightBrown;
  color: $lightGrey;
}

.c-btn--light {
  background-color: $lightBrown;
  border: solid 1px $wineRed;
  color: $darkGrey;
}
