.l-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  background-image: url('/images/background.png');
  background-size: cover;
}

.l-content {
  width: 80%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.l-members {
  width: 50%;
  height: 80%;
  padding: 0 10px;
}
